*._d
*._o
*.[ado]
*.so
test/api/a.out
test/cas
test/f
test/fmt
test/hook
test/hook2
test/reset/db.test
test/reset/test-reset
test/stack
test/stress1
test/verypush
src/libsdb.so*
src/sdb
src/sdb_version.h
memcache/cmds
memcache/cmds.h
memcache/mcsdbc
memcache/mcsdbd
