{
  "targets": [
    {
      "target_name": "sdb-json",
      "sources": [ "sdb-json.cc" ],
      "include_dirs": [
        "<!(node -e \"require('nan')\")",
        "sdb/src"
      ],
      "libraries": [
	"../sdb/src/libsdb.a"
      ]
    }
  ]
}
