name: ci

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v5
    - name: Windows Dependencies
      run: pip install meson ninja
    - name: Building Sdb
      run: meson build && ninja -C build
    - name: Pub
      uses: actions/upload-artifact@v5
      with:
        name: sdb_windows
        path: build/*.exe
  build-cxx:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Building Sdb
      run: make xxx
    - name: Testing gperf
      run: make -C test
  build-python:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Building Sdb
      run: export CFLAGS=-O0 ; make
    - name: Building python bindings
      run: make -C bindings/python
    - name: Testing python bindings
      run: cd bindings/python && python3 test.py
  test-asan:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@v5
    - name: install gperf
      run: sudo apt install gperf
    - name: building sdb
      run: make asan
    - name: running tests
      run: make asantest
    - name: testing gperf
      run: make -C test/gperf
#  test-leaks:
#    runs-on: ubuntu-latest
#    continue-on-error: true
#    steps:
#    - uses: actions/checkout@v5
#    - name: install gperf
#      run: sudo apt install gperf
#    - name: building sdb
#      run: make asan
#    - name: running tests
#      run: make leaktest
#    - name: testing gperf
#      run: make -C test/gperf
  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Meson Sdb
      run: |
        pip install meson ninja
        meson b && ninja -C b
    - name: Building Sdb
      run: export CFLAGS="-Werror -Wall" && make -j4
    - name: Install gperf
      run: sudo apt install gperf
    - name: Packaging
      run: make -C dist/debian
    - name: Running tests
      run: make test
    - name: Testing gperf
      run: make -C test/gperf
    - name: Pub
      uses: actions/upload-artifact@v5
      with:
        name: sdb_linux
        path: dist/debian/sdb/*.deb
  build-heap:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@v5
    - name: Building Sdb
      run: export CFLAGS="-DUSE_SDB_HEAP=1 -Werror -Wall" && make -j4
    - name: Running tests
      run: make test
#    - name: Testing gperf
#      run: make -C test/gperf
  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v5
    - name: Building Sdb
      run: make -j4 && cd ..
    - name: Packaging
      run: cd dist/macos && make && cd ../../..
    - name: Running tests
      run: make test
    - name: Pub
      uses: actions/upload-artifact@v5
      with:
        name: sdb_macos
        path: dist/macos/*.pkg
  build-cydia:
    runs-on: macos-latest
    steps:
    - name: Cloning Repo
      run: git clone --depth=1 https://github.com/radareorg/sdb
    - name: Building Sdb
      run: cd sdb && make ios && cd ..
    - name: Packaging
      run: cd sdb/dist/cydia && make && cd ../../..
    - name: Pub
      uses: actions/upload-artifact@v5
      with:
        name: sdb_cydia
        path: sdb/dist/cydia/*/*.deb
